body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.container {
    width: 80%;
    margin: auto;
}

.intro-section {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.separator {
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.links a:hover {
    color: #000;
}

.search-bar {
    display: flex;
    margin-left: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    background-color: #666;
    color: #fff;
    border: none;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-section {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.mission {
    border: 2px solid #fff;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #333;
    color: #fff;
}

.footer-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
