body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.get-started-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 7px;
    color: black;
}
